:root {
  --brand-color: #2196f3;
  --font-family: "Roboto";
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: var(--brand-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  width: 145px;
  height: 31px;
  text-decoration: none;
}
.colortext {
  color: #000;
}

.navigation {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;

  color: #212121;
}
.navigation:hover,
.navigation:focus {
  color: var(--brand-color);
}
.list {
  list-style: none;
}

.navstreet {
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.navstreet:hover {
  color: var(--brand-color);
}

.adress {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #757575;
}
.adress:hover,
.adress:focus {
  color: var(--brand-color);
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  list-style: none;
  background: #f5f4fa;
  color: #212121;
  border: none;
}
.button:hover,
.button:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: var(--brand-color);
}
.buttons {
  list-style: none;
}
.link {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
}
.links {
  list-style: none;
}
.titles {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.navnames {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.navnames:hover {
  list-style: none;
}

.titles,
.navnames {
  text-decoration: none;
}

.footer {
  background: #2f303a;
}
