:root {
  --brand-color: #2196f3;
  --footercolor: #2f303a;
  --font-family: "Roboto";
  --whitecolor: #ffffff;
  --adresscolor: #757575;
  --colortext: #000;
  --darkgrey: #212121;
}
body {
  background: var(--whitecolor);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: var(--brand-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  width: 145px;
  height: 31px;
  text-decoration: none;
}
.colortext {
  color: var(--colortext);
}
.navigation {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;

  color: var(--darkgrey);
}
.navigation:hover,
.navigation:focus {
  color: var(--brand-color);
}
.list {
  list-style: none;
}

.navstreet {
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--whitecolor);
}
.navstreet:hover {
  color: var(--brand-color);
}

.adress {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--adresscolor);
}
.adress:hover,
.adress:focus {
  color: var(--brand-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  list-style: none;
  background: var(--whitecolor);
  color: var(--darkgrey);
  border: none;
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--whitecolor);
  background-color: var(--brand-color);
}

.buttons {
  list-style: none;
}
.footer {
  background: var(--footercolor);
}
.titlesportfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color:var(--darkgrey)
}

.navnames {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color:var(--adresscolor);
}
.navnames:hover {
  list-style: none;
}

.titles,
.navnames {
  text-decoration: none;
}
.section {
  background-color:var(--footercolor);
}
.headtitle {
  color: white;
  weight: 900;
  size: 44px;
  line-height: 60px;
  letter: 6%;
  text-align: center:
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color:var(--darkgrey);
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color:var(--adresscolor);
}
.worktitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color:var(--darkgrey);
}
.worktitle:hover {
    list-style: none;
}

.nametitle {
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--darkgrey);
}
.position {
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color:var(--adresscolor);
}
 